@import url("https://fonts.googleapis.com/css2?family=Anta&family=Fjalla+One&display=swap");

* {
    box-sizing: border-box;
    font-family: "Anta", sans-serif;
    font-weight: normal;
  }

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #67e8e8, #fa56d1);
}

div {
    padding-top:100px;
    padding-bottom:100px;
    margin:auto;
    min-width: 200px;
    color: white;
    max-width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 80px;

    .display{
        max-height: 100px;
        display:flex;
        flex-direction: row;
    }

}

button {
    color: white;
    background-color: rgba(76, 71, 109, 0.265);
    width: auto;
    height: 60px;
    font-size: 40px;
    border-radius: 10px;
    border-color:  white;
    border-style: solid;
    min-width: 60px;
}

button:hover {
    opacity: 0.7;
}

p {
    min-width: 120px; 
    display: flex;
    justify-content: center;
}